*{
    margin:0;
    padding: 0;
}
.main{
    background: rgb(96, 230, 96);
    width: 100%;
    height: 100vh;
}
.inner_box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:1200px;
    height: 550px;
    background:#287212f3;
    border-radius:20px;
    box-shadow:0px 0px 15px currentcolor;
}
nav{
    width: 85%;
    height: 75px;
    line-height: 75px;
    padding:0px 100px;
    position: fixed;
}
nav .logo h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    cursor: pointer;
    float: left;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: bold;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;;
}
nav li a{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    padding: 0px 30px;
    text-transform: uppercase;
    font-size: 18px;
}
.title{
    width: 50%;
    position: absolute;
    top: 30%;
    left: 18%;
    transform: translate(-20%,-20%);
}
.title h1{
    text-transform: uppercase;
    color: white;
    font-size: 80px;
    cursor: pointer;
}
.title p{
    color: white;
    font-size: 20px;
}
.button{
    position: absolute;
    top: 68%;
    left: 18%;
    transform: translate(-50%,-50%);
}
.btn{
    color: white;
    padding: 5px 20px;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 10px / 20px;
}
.btn:hover{
    color: greenyellow;
    background-color: white;
}
.last_button{
    position: absolute;
    top: 80%;
    left: 18%;
    transform: translate(-50%,-50%);
}
.lst_btn{
    padding: 5px 20px;
    text-decoration: none;
    border: 1px solid #180135;
    border-radius: 50%;
    background-color: #180135;
}
.last_button a{
    font-size: 15px;
    color: white;
}
.lst_btn:hover{
    color:white;
    background-color: green;
}
.image{
    position: absolute;
    top:55%;
    left: 79%;
    transform: translate(-50%,-50%);
}
.image img{
    height: 400px;
    width: 500px;
    border-radius:175px 0px 0px 175px;
}